body{
    background-image: url(../images/Stars\ Background.jpg)
    
}

h1{color: whitesmoke;}

h4{color: whitesmoke;
   
}
nav{
font-size: 24px;
}

p.h6{color: whitesmoke;}


footer{
display: block;
color: whitesmoke;
background-color: rgb(46, 45, 45);
}

.tableau{
    background-color:rgb(46, 45, 45);
    color: whitesmoke;
    }

.topnav {
    background-color: rgb(46, 45, 45);
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  

  .topnav .icon {
    display: none; }